@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
  font-family: Roboto;
  font-size: 1.3vh;
}

h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0;
}

#interface {
  display:flex;
  width: auto;
  min-height: 100vh;
  background-image: url("https://www.dropbox.com/s/bpve4k1yn0fbodf/Mars.jpg?raw=1");
  background-size: cover;
}

#control-bar {
  background-color: #000000b0 ;
  max-width: 40em;
  min-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#control-bar .exploration {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  color:white;
}

#control-bar .user-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.4em;
}

#control-bar article {
  width : auto;
  padding: 0 1em;
  text-align: justify;
}


#control-bar .button {
  background-color: black;
  border: 1px solid white;
  color:white ;
  height: 2.5em;
  outline: none;
  padding: 0.3em;
  margin: 0.3em;
  width: 14em;
  font-size: 1em;
  
}

.slot-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-choice .slot-form-container input{
  width: 11.4em;
  height: 2.5em;
  font-size: 0.8em;
  padding:  0 0.3em;
  border: 0;
  margin: 0.3em 0;
}

.empty >p {
  width: 12em;
  height:20px;
  font-size: 0.8em;
  padding: 0px;
  margin: 0px;
}

#user-choice .slot-form-container label {
  width: 100px;
}

#user-choice .slot-form-container-button {
  display: flex;
  justify-content: flex-end;
  margin: 2px 0;
}

#movie { 
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
}

