@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
  font-family: Roboto;
  font-size: 10px;
}

h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

#interface {
  display:flex;
  height: 100vh;
  background-image: url("https://www.dropbox.com/s/bpve4k1yn0fbodf/Mars.jpg?raw=1");
  background-size: cover;
}

#control-bar {
  background-color: #000000b0 ;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#control-bar .scenario {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  color:white;
}

#control-bar .user-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

#control-bar article {
  width : auto;
  padding: 5%;
}


#control-bar .button {
  background-color: black;
  border: 1px solid white;
  color:white ;
  height: 25px;
  outline: none;
  padding: 3px;
  margin: 3px;
  width: 120px;
  font-size: 1em;
  
}

.slot-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-choice .slot-form-container input{
  width: 100px;
  font-size: 1em;
  margin: 5px;
}

.empty >p {
  width: 100px;
  margin: 8px;
}

#user-choice .slot-form-container label {
  width: 100px;
}

#user-choice .slot-form-container-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

#movie { 
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
}

